/* 
PALETTE 
*/
:root {
    --green: #1ABC9C;
}


/* 
HEADER 
*/

.header-navbar{
    background-color: #2C3E50;
}

/* 
HERO
*/

.hero{
    background-color: var(--green);
}

.hero-img{
    max-width: 228px;
}

/* .portfolio img{
    width: 100%;
    border-radius: 10px;
} */

.about{
    background-color: var(--green);
}

.container-small{
    max-width: 240px;
    margin: 0 auto;
}


/* 
FOOTER 
*/

.footer-info{
    background-color: #3A546D;
}

.footer-copyright{
    background-color: #2C3E50;
}



@media (min-width: 576px) {}

@media (min-width: 768px) {
    .container-small{
        max-width: 700px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .container-small{
        max-width: 990px;
    }
}

@media (min-width: 1400px) {}
