/* 
HEADER 
*/

header{
    background-color: #2C3E50;
}

header .row{
    flex-wrap: nowrap;
}

/* 
HERO
*/

.hero{
    background-color: #1ABC9C;
}

.hero-img{
    max-width: 228px;
}

.portfolio img{
    width: 100%;
    border-radius: 10px;
}
