/* 
PALETTE 
*/
:root {
    --green: #1ABC9C;
}


/* 
HEADER 
*/

.header-navbar{
    background-color: #2C3E50;
}

header .row{
    flex-wrap: nowrap;
}

/* 
HERO
*/

.hero{
    background-color: var(--green);
}

.hero-img{
    max-width: 228px;
}

.portfolio img{
    width: 100%;
    border-radius: 10px;
}

.about{
    background-color: var(--green);
}


/* 
FOOTER 
*/

.footer-info{
    background-color: #3A546D;
}