a{
    text-decoration: none;
    color: currentColor;
}

/* 
PALETTE 
*/
:root {
    --green: #1ABC9C;
}


/* 
HEADER 
*/

.header-navbar{
    background-color: #2C3E50;
}

.menu_button{
    border: 1px solid white;
    color: grey;
    padding: 2px 6px 2px 6px;
    border-radius: 2px;
}


/* 
HERO
*/

.about,
.hero{
    background-color: var(--green);
}

.hero-img{
    max-width: 228px;
}

.divider::before{
    content: '';
    height: 4px;
    background-color: currentColor;
    width: 60px;
    display: inline-block;
    border-radius: 40px;
}

.divider::after{
    content: '';
    height: 4px;
    background-color: currentColor;
    width: 60px;
    display: inline-block;
    border-radius: 40px;
}


/*
ABOUT 
*/

.white_button{
    padding: 8px;
    border: solid 1px currentColor;
    border-radius: 6px;
}


/*
CONTACT 
*/


.ms-input{
 color: black;
 border-top: 0px;
 border-right: 0px;
 border-left: 0px;
 line-height: 40px;
 border-bottom: 1px solid rgb(215, 215, 215);
 width: 100%;
}
 
::placeholder{
    color: currentColor;
    opacity: 1;
}

.ms-button-green{
    padding: 6px 10px;
    border-radius: 5px;
    background-color: #1ABC9C;
    color: white;
    font-size: 12px;
    border: none;
}


/* 
FOOTER 
*/

.footer-info{
    background-color: #3A546D;
}

.footer-copyright{
    background-color: #2C3E50;
}

.ms-button-white{
    aspect-ratio: 1;
    height: 40px;
    border-radius: 999px;
    border: 1px solid white;
    color: white;
    display: inline-block;
    font-size: 12px;
    margin: 0 4px;
}

.highlight_green{
    color: #1ABC9C;
}

.footer-copyright p{
    font-size: 10px;
}